/* Write your CSS here */
.button {
  background-color: #585076;
  height: 40px;
  width: 130px;
  color: #ffffff;
  margin: 10px;
  border-radius: 10px;
  border-color: #c7d2fe;
  cursor: pointer;
}
